@import url("../assets/css/layout/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  color: #666;
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

.hero {
  background: url("../assets/img/hero-background.png") center top no-repeat;
  height: 100vh;
  max-height: 650px;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 80px 63px;
}

.hero__title-section {
  margin-top: 37px;
  max-width: 45%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 37px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: flex;
  gap: 30px;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  font-weight: 700;
  max-width: 90px;
  line-height: 1.12;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  border: none;
  cursor: pointer;
}
.btn_theme_yellow {
  color: #000;
  background: #FEDB3F;
}
.btn_theme_yellow:hover {
  background: #FFD517;
}
.btn_theme_transparent {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  background: transparent;
  padding: 0;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: #292929;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  padding-inline: 30%;
  line-height: 1.2;
}

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 0%;
  padding: 0 5%;
}

.benefits__item {
  flex: 1;
  position: relative;
}
.benefits__item::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 21px;
  background: url("../../assets/img/benefits/circles-between.svg");
  top: 25%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.benefit__desc {
  line-height: normal;
  padding: 0 5%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 125px 42px 42px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.reviews__display-inner {
  display: flex;
  gap: 40px;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
}

.reviews__title {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.25;
  padding-top: 27px;
  margin-bottom: 12px;
}

.review__text {
  margin-bottom: 23px;
  line-height: 1.25;
}

.reviews__author {
  color: #292929;
  font-weight: 500;
  line-height: 1.33;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar_active {
  border: 6px solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.order-section {
  background: url("../../assets/img/order/bg-order.jpg") center center no-repeat;
  background-size: contain;
  color: #fff;
}

.order-section__title {
  color: #fff;
  margin-bottom: 58px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  gap: 40px;
}

.form__col {
  flex: 1;
}

.form__row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.form__block {
  flex: 1;
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 18px 13px;
  font-size: 14px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input_textarea {
  height: 152px;
  resize: none;
  margin-bottom: 25px;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 17px;
}
.form__controls:nth-child(3) {
  margin-bottom: 45px;
}

.form__btns {
  margin-left: -10px;
  display: flex;
  gap: 24px;
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
}
.radio_checkbox .radio__visible {
  border-radius: 3px;
}
.radio_checkbox .radio__visible::before {
  background: url("../../assets/img/order/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 11px;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 14px;
  height: 14px;
  background: #FEDB3F;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
