@import url("../assets/css/layout/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  color: #666;
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

.hero {
  background: url("../assets/img/hero-background.png") center top no-repeat;
  background-color: #1968B1;
  height: 100vh;
  max-height: 650px;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 80px 63px;
}

.hero__title-section {
  margin-top: 37px;
  max-width: 45%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 37px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: flex;
  gap: 30px;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  font-weight: 700;
  max-width: 90px;
  line-height: 1.12;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
}
.btn_theme_yellow {
  color: #000;
  background: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: #292929;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  padding-inline: 30%;
  line-height: 1.2;
}

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 0%;
  padding: 0 5%;
}

.benefits__item {
  flex: 1;
  position: relative;
}
.benefits__item::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 21px;
  background: url("../../assets/img/benefits/circles-between.svg");
  top: 25%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.benefit__desc {
  line-height: normal;
  padding: 0 5%;
}
