.order-section {
  background: url("../../assets/img/order/bg-order.jpg") center center no-repeat;
  background-size: contain;
  color: #fff;
}

.order-section__title {
  color: #fff;
  margin-bottom: 58px;
}
